In [7]:
!pip install yml

Collecting yml
  Downloading yml-0.0.1.tar.gz (1.2 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: yml
  Building wheel for yml (setup.py) ... done
  Created wheel for yml: filename=yml-0.0.1-py3-none-any.whl size=1374 sha256=ea88e397cc18226a50a1e38ac7676b9004db5cacbe642c0064fac1d618e3ebf8
  Stored in directory: /root/.cache/pip/wheels/73/04/ec/2c8f8f894a749c526bdadd9688e2fddd613fcd5608030a727d
Successfully built yml
Installing collected packages: yml
Successfully installed yml-0.0.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [20]:
!pip install boto3

Collecting boto3
  Downloading boto3-1.26.154-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 2.2 MB/s eta 0:00:00a 0:00:01
Collecting botocore<1.30.0,>=1.29.154
  Downloading botocore-1.29.154-py3-none-any.whl (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 4.0 MB/s eta 0:00:0000:0100:01
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.1-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.8/79.8 kB 5.9 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.9/site-packages (from botocore<1.30.0,>=1.29.154->boto3) (1.26.16)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.9/site-packages (from botocore<1.30.0,>=1.29.154->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.154->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.154 botocore-1.29.154 jmespath-1.0.1 s3transfer-0.6.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [5]:
from process.Extract_2 import Extract 
from process.Transform_2 import Transform
from process.Load_2 import Load 
import pandas as pd

In [6]:
extract = Extract()
transform = Transform()
load = Load()

# Lectura de datos de Azure Datalake

In [3]:
customer_adls = extract.read_adls('source','retail/menesesnd/customers')
orders_adls = extract.read_adls('source','retail/menesesnd/orders')
order_items_adls = extract.read_adls('source','retail/menesesnd/order_items')
products_adls = extract.read_adls('source','retail/menesesnd/products')
categories_adls = extract.read_adls('source','retail/menesesnd/categories')
departments_adls = extract.read_adls('source','retail/menesesnd/departments')

In [4]:
categories_adls.head()

   category_id  category_department_id        category_name
0            1                       2             Football
1            2                       2               Soccer
2            3                       2  Baseball & Softball
3            4                       2           Basketball
4            5                       2             Lacrosse

# Lectura de datos de SQL

In [10]:
customer_sql = extract.read_mysql('retail_db','customers')
orders_sql = extract.read_mysql('retail_db','orders')
order_items_sql = extract.read_mysql('retail_db','order_items')
products_sql = extract.read_mysql('retail_db','products')
categories_sql = extract.read_mysql('retail_db','categories')
departments_sql = extract.read_mysql('retail_db','departments')

In [ ]:
products_sql.head()

# Lectura de datos de Google Cloud

In [11]:
customer_cloud = extract.read_cloud_storage('datadep12','retail/customers')
orders_cloud = extract.read_cloud_storage('datadep12','retail/orders')
order_items_cloud = extract.read_cloud_storage('datadep12','retail/order_items')
products_cloud = extract.read_cloud_storage('datadep12','retail/products')
categories_cloud = extract.read_cloud_storage('datadep12','retail/categories')
departments_cloud = extract.read_cloud_storage('datadep12','retail/departments')

In [8]:
customer_cloud.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725

# Lectura de datos de MongoDB

In [6]:
customer_mongoDB = extract.read_mongodb('retail_db',"customers")
orders_mongoDB= extract.read_mongodb('retail_db','orders')
order_items_mongoDB = extract.read_mongodb('retail_db','order_items')
products_mongoDB = extract.read_mongodb('retail_db','products')
categories_mongoDB = extract.read_mongodb('retail_db','categories')
departments_mongoDB = extract.read_mongodb('retail_db','departments')

In [8]:
order_items_mongoDB.head()

,_id,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,64866cc04b52daffda5e77ca,1,1,957,1,299.98,299.98
1,64866cc04b52daffda5e77cb,2,2,1073,1,199.99,199.99
2,64866cc04b52daffda5e77cc,3,2,502,5,250.00,50.00
3,64866cc04b52daffda5e77cd,4,2,403,1,129.99,129.99
4,64866cc04b52daffda5e77ce,5,4,897,2,49.98,24.99

# Carga a zona Landing

## Carga a Azure Datalake

In [15]:
load.load_to_adls(customer_mongoDB,'source','landing/customers')
load.load_to_adls(orders_cloud,'source','landing/orders')
load.load_to_adls(order_items_sql,'source','landing/order_items')
load.load_to_adls(products_mongoDB,'source','landing/products')
load.load_to_adls(categories_cloud,'source','landing/categories')
load.load_to_adls(departments_sql,'source','landing/departments')

## Carga a Google Cloud Storage

In [17]:
load.load_to_cloud_storage(customer_mongoDB,'datadep12','landing/customers')
load.load_to_cloud_storage(orders_adls,'datadep12','landing/orders')
load.load_to_cloud_storage(order_items_sql,'datadep12','landing/order_items')
load.load_to_cloud_storage(products_mongoDB,'datadep12','landing/products')
load.load_to_cloud_storage(categories_adls,'datadep12','landing/categories')
load.load_to_cloud_storage(departments_sql,'datadep12','landing/departments')

In [19]:
def ingest_data_adls(containerName,folderName,fileName):
    df = extract.read_adls(containerName,f"{folderName}/{fileName}")
    load.load_to_adls(df,'datalake',f'landing/{fileName}')

# Tranformacion de datos

## Lectura de bases de datos de Azure Datalake Storage

In [7]:
customer_trans_adls = extract.read_adls('source','landing/customers')
orders_trans_adls = extract.read_adls('source','landing/orders')
order_items_trans_adls = extract.read_adls('source','landing/order_items')
products_trans_adls = extract.read_adls('source','landing/products')
categories_trans_adls = extract.read_adls('source','landing/categories')
departments_trans_adls = extract.read_adls('source','landing/departments')

## Transformacion de bases de datos de Azure Datalake Storage

In [8]:

#df_enunciado1=transform.enunciado1(customer_trans_adls,orders_trans_adls,order_items_trans_adls)
#df_enunciado2=transform.enunciado2(order_items_trans_adls,products_trans_adls,categories_trans_adls,)
#df_enunciado3=transform.enunciado3(customer_trans_adls,orders_trans_adls,order_items_trans_adls,products_trans_adls,categories_trans_adls)
df_enunciado4=transform.enunciado4(customer_trans_adls,orders_trans_adls,order_items_trans_adls,products_trans_adls,categories_trans_adls)

In [9]:
df_enunciado4.head()

                                    product_name  total
0               Perfect Fitness Perfect Rip Deck  73698
1           Nike Men's Dri-FIT Victory Golf Polo  62956
2               O'Brien Men's Neoprene Life Vest  57803
3              Nike Men's Free 5.0+ Running Shoe  36680
4  Under Armour Girls' Toddler Spine Surge Runni  31735

## Carga de tranformaciones a Azure en capa Gold

In [30]:
load.load_to_adls(df_enunciado1,"source","gold/df_enunciado1")
load.load_to_adls(df_enunciado2,"source","gold/df_enunciado2")
load.load_to_adls(df_enunciado3,"source","gold/df_enunciado3")
load.load_to_adls(df_enunciado4,"source","gold/df_enunciado4")